@import "tailwindcss";

@layer base {
  h2 {
    @apply text-xl text-black font-semibold;
  }

  h3 {
    @apply text-base text-gray-500;
  }
}

body {
  font-family: var(--font-montserrat);
}

@media print {
  body * {
    visibility: hidden;

  }

  .printable-area,
  .printable-area * {
    visibility: visible;
  }

  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  @page {
    margin: 0;
  }
}

@media print {

  .no-print,
  nav,
  sidebar,
  form {
    display: none !important;
  }

  .print-container {
    position: absolute;
    width: 100% !important;
    margin-top: 0 !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
  }


  @page {
    margin: 1cm;
  }
}